<div class="p-4">

  <div class="form-group">
    <span>First Name: {{appointment.firstName}}</span>
  </div>
  <div class="form-group">
    <span>Last Name: {{appointment.lastName}}</span></div>

  <div class="form-group">
    <span>Email: {{appointment.email}}</span>
  </div>

  <div class="form-group">
    <span>Gender: {{appointment.gender}}</span>
  </div>

  <div class="form-group">
    <span>Age: {{appointment.age}}</span>
  </div>

  <div class="form-group">
    <span>Appointment Date: {{appointment.appointmentDate}}</span>

  </div>

  <div class="form-group">
    <span>Appointment Time: {{appointment.appointmentTime}}</span>

  </div>


</div>


